

<div class="container" #body>
  <a   class="button" (click)="capture()" style="--color: #1317cf;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    capture</a>
@if (darkImage !== ''&&LightImage !=='') {
  <a class="button"  [href]="darkImage" download="dark" style="--color: #ff1867;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    DownloadDark
  </a>
  <a class="button" [href]="LightImage"  download="light" style="--color: #6eff3e;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    download
  </a>
}

</div>
